@media only screen and (min-width: 38rem) {
    
    header, main, nav, footer{
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 80px auto auto;
        margin-bottom: 10px;
    }

    /*------------ NAV MENU ----------------*/
    .navigation {
        display: block;
        opacity: 1;
        transition: none;
        overflow: visible;
        width: 100%;
        max-height: none;
        grid-column: 3/4;
    }
    .navigation ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .hamburger {
        display: none;
    }

    .navigation{
    display: block;

    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navigation a {
        border: none;
        height: auto;
    }

    /*---------- MAIN - DISCOVER ----------*/
    #routes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    }



    /*---------- FOOTER ----------*/

    footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    }

    .social {
        border-block: none
    }  

    /*---------- SWATCHES ----------*/

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wireframe {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

}