:root {
    /* Base Colors */
    --charcoal: #2E2E2E;          /* Text color – main text color */
    --cream: #F5F3E7;     /* Background color – light background */
    
    /* Accent Colors */
    --rust-red: #A14C2F;        /* Accent color – buttons, headings, highlights */
    --slate-grey: #7B8C8D;     /* Secondary color – secondary details, borders */
    --timberwolf: #D6D5C9;    /* Highlight color –  section backgrounds, cards*/

    /* Optional Shades */
    --dark-rust: #823d26;  /* hover accent color rust for hover states */
    --color-border: #C1C0B1;        /* Light border color (optional use) */
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*---------- GLOBAL ----------*/

* {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--charcoal);
}

html {
    background-color: var(--cream);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--rust-red)
}


main {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem;
    background-color: var(--dark-rust);
    color: var(--cream);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
    cursor: pointer;
}

/*---------- HEADER ----------*/

header{
    display: grid;
    grid-template-columns: 100px auto auto;
    padding: 5px;
    align-items: center;
    margin: 10px;
    column-gap: 12px;
    border-bottom: 1px solid var(--color-border);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 60px;
}

/*---------- HAMBURGER BUTTON ----------*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*---------- NAV ----------*/

.navigation {
    width: 100%;
    grid-column: 1 / -1;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.navigation.show{
    max-height: 300px;
    opacity: 1;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--dark-rust);
    text-decoration: none;
    text-align: center;
    align-content: center;
    height: 44px;
}

.navigation li.current a {
    background-color: var(--timberwolf);
    border-radius: 5px;
}

.navigation a:hover{
    color: var(--dark-rust);
    font-weight: bold;
}



/*---------- MAIN - HOME ----------*/


.hero {
    position: relative;
    margin-bottom: 1rem;
}

.hero .btn {
    position: absolute;
    right: 20px; 
    bottom: 20px;
    z-index: 2;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.event-list {
    margin: 1rem 0;
}

.event-list dt {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--rust-red);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.event-list dd {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--charcoal);
    line-height: 1.4;
}

.info .about{
    font-size: 1.1rem;
    margin: 1rem 0;
}

.info .events{
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--timberwolf);
}

.info .events h2,
.info .events dt {
    color: var(--dark-rust);
}



/*---------- MAIN - DISCOVER ----------*/

.routes {
    display: block;
}

.routes article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "name name"
        "image image"
        "description description"
        "distance type"
        "terrain difficulty"
        "min-elevation max-elevation";
    gap: 0.8rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    margin-bottom: 1rem;

}

#routes {
    min-height: 2000px;
}

#routes article {
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
}

#routes article:nth-child(1) { animation-delay: 0s; }
#routes article:nth-child(2) { animation-delay: 0.1s; }
#routes article:nth-child(3) { animation-delay: 0.2s; }
#routes article:nth-child(4) { animation-delay: 0.3s; }
#routes article:nth-child(5) { animation-delay: 0.4s; }
#routes article:nth-child(6) { animation-delay: 0.5s; }

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.routes .route-name {
    grid-area: name;
    margin: 0
}

.routes img {
    grid-area: image;
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.routes .route-description {
    grid-area: description;
    font-style: italic;
    margin: 0;
}

.routes .distance-info,
.routes .difficulty-info,
.routes .route-type,
.routes .terrain-info,
.routes .min-elevation,
.routes .max-elevation {
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;


}
.routes .distance-info {
    grid-area: distance;
}

.routes .difficulty-info {
    grid-area: difficulty;
}

.routes .route-type {
    grid-area: type;
}

.routes .terrain-info {
    grid-area: terrain;
}

.routes .min-elevation {
    grid-area: min-elevation;
}

.routes .max-elevation {
    grid-area: max-elevation;
}

/*---------- MAIN - FORM ----------*/

.form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: .5rem 2%;
}

.form legend {
    padding: 0 .5rem;
    font-size: 1.2rem;

}

.form label {
    display: block;
    padding-top: 1rem;
}

.form div {
    padding-top: 1rem;
}


.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea {
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 300px;
}

.form input[type="radio"] {
    margin-right: 6px;
    accent-color: var(--dark-rust);
}

.form input[type="submit"] {
    max-width: 325px;
    width: 96%;
    margin: -1rem 2% 2rem 2%;
    background-color: var(--dark-rust);

}

.form input[type="submit"]:hover {
    font-weight: bold;
}

.form input:required {
    border-left: solid 8px var(--dark-rust);
}
.form input:required:valid {
    border-left: solid 8px #4F6D54;
}

.membership-lvls {
    display: flex;
    flex-direction: column;
}

.lvl {
    background-color: var(--timberwolf);
    margin: 2rem 0;
    padding: .5rem 2% 1rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.lvl h3 {
    color:var(--dark-rust)
}

#membership-details {
    min-height: 400px;
    margin: auto 1rem;
    border: 2px solid var(--color-border);
    border-radius: 5px;
}

#membership-details::backdrop {
    background-color: rgba(130, 61, 38, 0.2); 
    backdrop-filter: blur(3px);
}



#membership-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#membership-details h4 {
    font-size: 1.5rem;
    margin: 0 auto;
}

/*---------- MAIN - THANKYOU ----------*/

#thankyou{
    background-color: var(--timberwolf);
    margin: 2rem 0 1rem;
    padding: .5rem 2% 1rem 2%;
    display: block;
    border-radius: 5px;
    min-height: 200px;
    text-align: center;
}
#thankyou p {
    font-size: 1.2rem;
}

#thankyou li {
    padding-top: .5rem;
    text-align: left;
}

/*---------- FOOTER ----------*/

footer {
    padding: 1rem 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top: 1px solid var(--color-border);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

/*---------- SWATCHES - SITE PLAN ----------*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem;
    justify-items: center;
    
}

.swatch {
    width: 200px;
    height: 250px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 2px solid var(--color-border);
}

#charcoal{
    background-color: var(--charcoal);
    color: var(--cream);
}

#cream {
    background-color: var(--cream);
    color: var(--charcoal);
    
}

#rust-red{
    background-color: var(--rust-red);
    color: var(--cream)
}

#dark-rust{
    background-color: var(--dark-rust);
    color: var(--cream)
}

#slate-grey {
    background-color: var(--slate-grey);
    color: var(--cream);
}

#timberwolf {
    background-color: var(--timberwolf);
    color: var(--charcoal);
}

.wireframe img {
    width: 100%;
}

.wireframe figcaption {
    text-align: center;
    font-style: italic;
}