:root {
  /* Primary */
  --shire-green: #3D5B44;
  --moss-green: #6A8E66;
  --hobbit-gold: #D4AF37;

  /* Accents */
  --warm-wheat: #F4E3C1;
  --rust-brown: #8B5A2B;
  --sunset-orange: #D87C4A;
  --shire-wine: #7C1C2A;

  /* Neutrals */
  --stone-grey: #A8A29E;
  --cream-white: #FAF7F0;
  --charcoal-ink: #2E2E2E;
}

/*---------------- TESTING ----------------*/

/* *{
    border: 1px dashed red
} */

/*---------------- GLOBAL ----------------*/
*{
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    margin: 0.3rem;
}

p {
    margin: 0.1rem;
}

html {
    background-color: var(--cream-white)
}

/*---------------- FONTS ----------------*/
.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}


/*HEADER*/

header{
    display: grid;
    grid-template-columns: 80px auto auto;
    padding: 5px;
    align-items: center;
    border-bottom: solid 2px var(--hobbit-gold);
    margin: 10px;
    column-gap: 12px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 20px;
    color: var(--charcoal-ink);
}

/*------------ HAMBURGER BUTTON ----------------*/

.hamburger {
    background: none;
    border: none;
    color: var(--charcoal-ink);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*------------ NAV ----------------*/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--charcoal-ink);
    text-decoration: none;
    border-bottom: solid 1px var(--hobbit-gold);
}

.navigation li.current {
    background-color: var(--warm-wheat);
    border-radius: 5px;
}

.navigation a:hover{
    color: var(--sunset-orange);
    font-weight: bold;
}

/*------------ MAIN - HOME ----------------*/

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

.btn {
    min-width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid var(--moss-green);
    background-color: var(--cream-white);
}

.btn:hover {
    color: var(--rust-brown);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--moss-green);
}

.hero {
    position: relative;
}

.hero button {
    position: absolute;
    right: 20px; 
    bottom: 20px;
    z-index: 2;
}

.hero img {
    display: block;
    width: 100%;
}


main > section {
    padding: 0 10px
}

.row1{
    text-align: center;

}

.row1 h2{
    text-decoration: underline;
}

#current-weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 5px;
}

#current-weather-card p {
    font-size: 1.7rem;
}

#current-weather-card img {
    background-color: var(--shire-green);
    border: 3px solid var(--hobbit-gold);
    border-radius: 50px;
    margin-left: 2px;
}

#weather-desc {
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.2rem;
}

.row2 {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--shire-green);
}
.row2 > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spotlight {
    min-height: 600px;
}

#spotlight a {
    color: var(--shire-wine)
}

#spotlight a:hover {
    font-weight: bold;
}

/*------------ MAIN - DIRECTORY ----------------*/

.buttons {
    display: none;
}
#directory {
  min-height: 3000px;
}

#directory a {
    color: var(--shire-wine)
}

#directory a:hover {
    font-weight: bold;
}

/*grid view*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: stretch;
}

.grid section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px 5px;
    background-color: var(--warm-wheat);
    border-radius: 5px;
}

.grid section > * {
        margin: 0.1rem;
    }

.grid img {
    border-radius: 5px;
    margin: 7px;
}

.grid p {
    padding: 2px 5px 0;
}

/*list view*/
.list {
    display: flex;
    flex-direction: column;
}
.list section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr 2fr;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0.25rem;
}

.list section > * {
    margin: 0 1rem;
}

.list img {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--warm-wheat);
}

/*------------ MAIN - JOIN ----------------*/

.form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--hobbit-gold);
    border-radius: 5px;
    padding: .5rem 2%;
}

.form legend {
    padding: 0 .5rem;
    font-size: 1.2rem;

}

.form label {
    display: block;
    padding-top: 1rem;
}

.form div {
    padding-top: 1rem;
}


.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea {
    display: block;
    border: 1px solid var(--moss-green);
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 300px;
}

.form input[type="radio"] {
    margin-right: 6px;
    accent-color: var(--shire-green);
}

.form input[type="submit"] {
    max-width: 325px;
    width: 96%;
    margin: -1rem 2% 2rem 2%;
    background-color: var(--warm-wheat);

}

.form input[type="submit"]:hover {
    color:var(--sunset-orange)
}

.form input:required {
    border-left: solid 8px var(--shire-wine);
}
.form input:required:valid {
    border-left: solid 8px var(--shire-green);
}

.membership-lvls {
    display: flex;
    flex-direction: column;
}

.lvl {
    background-color: var(--warm-wheat);
    margin: 2rem 0;
    padding: .5rem 2% 1rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#membership-details {
    min-height: 400px;
    margin: 1rem;
    border: 2px solid var(--moss-green);
    border-radius: 5px;
}

#membership-details::backdrop {
    background-color: rgba(186, 142, 102, 0.5); 
    backdrop-filter: blur(3px);
}



#membership-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#membership-details h4 {
    font-size: 1.5rem;
    margin: 0 auto;
    text-decoration: underline var(--shire-green);
}


/*------------ MAIN - THANK YOU ----------------*/

#thankyou{
    background-color: var(--warm-wheat);
    margin: 2rem 0 1rem;
    padding: .5rem 2% 1rem 2%;
    display: block;
    border-radius: 5px;
    min-height: 200px;
}
#thankyou p {
    font-size: 1.2rem;
}

#thankyou li {
    padding-top: .5rem;
}

/*------------ FOOTER ----------------*/

footer {
    background-color: var(--warm-wheat);
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer * {
    background-color: var(--warm-wheat);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 0;
    border-block: 1px solid var(--shire-green);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}