:root {
  /* Primary */
  --shire-green: #3D5B44;
  --moss-green: #6A8E66;
  --hobbit-gold: #D4AF37;

  /* Accents */
  --warm-wheat: #F4E3C1;
  --rust-brown: #8B5A2B;
  --sunset-orange: #D87C4A;

  /* Neutrals */
  --stone-grey: #A8A29E;
  --cream-white: #FAF7F0;
  --charcoal-ink: #2E2E2E;
}

/*---------------- TESTING ----------------*/

/* *{
    border: 1px dashed red
} */

/*---------------- GLOBAL ----------------*/
*{
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    margin: 0.3rem;
}

p {
    margin: 0.1rem;
}

html {
    background-color: var(--cream-white)
}

/*---------------- FONTS ----------------*/
.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}


/*HEADER*/

header{
    display: grid;
    grid-template-columns: 80px auto auto;
    padding: 5px;
    align-items: center;
    border-bottom: solid 2px var(--hobbit-gold);
    margin: 10px;
    column-gap: 12px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 20px;
    color: var(--charcoal-ink);
}

/*------------ HAMBURGER BUTTON ----------------*/

.hamburger {
    background: none;
    border: none;
    color: var(--charcoal-ink);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*------------ NAV ----------------*/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--charcoal-ink);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--warm-wheat);
    border-radius: 5px;
}

.navigation a:hover{
    color: var(--sunset-orange);
    font-weight: bold;
}

/*------------ MAIN - HOME ----------------*/

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}



.hero {
    position: relative;
}

.hero button {
    position: absolute;
    right: 20px; 
    bottom: 20px;
    z-index: 2;
}

.hero img {
    display: block;
    width: 100%;
}


main > section {
    padding: 0 10px
}

.row1{
    text-align: center;
}

#current-weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--shire-green);
}
.row2 > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------------ MAIN - DIRECTORY ----------------*/



.buttons {
    display: none;
}

#directory a {
    color: var(--sunset-orange)
}

#directory a:hover {
    font-weight: bold;
}


    .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: stretch;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 5px;
        padding: 10px 5px;
        background-color: var(--warm-wheat);
        border-radius: 5px;
        & > * {
            margin: 0.1rem;
        }
    }

    img {
        border-radius: 5px;
        margin: 7px;
    }

    p {
        padding: 2px 5px 0;
    }
    }

.list {
    display: flex;
    flex-direction: column;

    section {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr 2fr;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0.25rem;

        & > * {
            margin: 0 1rem;
        }

        img {
            display: none;
        }

        &:nth-child(even) {
            background-color: var(--warm-wheat);
        }
    }
    }


/*------------ FOOTER ----------------*/

footer {
    background-color: var(--warm-wheat);
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer * {
    background-color: var(--warm-wheat);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 0;
    border-block: 1px solid var(--shire-green);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}