:root {
  /* Primary */
  --shire-green: #3D5B44;
  --moss-green: #6A8E66;
  --hobbit-gold: #D4AF37;

  /* Accents */
  --warm-wheat: #F4E3C1;
  --rust-brown: #8B5A2B;
  --sunset-orange: #D87C4A;

  /* Neutrals */
  --stone-grey: #A8A29E;
  --cream-white: #FAF7F0;
  --charcoal-ink: #2E2E2E;
}

*{
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cream-white);
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*HEADER*/

header{
    display: grid;
    grid-template-columns: 80px auto auto;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 2px var(--hobbit-gold);
    column-gap: 12px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 20px;
    color: var(--hobbit-gold);
}

/*------------ HAMBURGER BUTTON ----------------*/

.hamburger {
    background: none;
    border: none;
    color: var(--deepblue);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/*------------ NAV ----------------*/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--charcoal-ink);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--warm-wheat);
}

.navigation a:hover{
    color: var(--sunset-orange);
    font-weight: bold;
}

/*------------ MAIN ----------------*/

h1 {
    margin-left: var(--left-margin);
}

.info section {
    padding: 0 1rem;
}

h2 {
    text-align: center;
    border-bottom: 1px solid var(--terracota);
    padding-bottom: 5px;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: solid 1px var(--terracota);
    border-radius: 3px;
    background-color: #ddd;
    color: var(--deepblue);
    height: 44px;
    width: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    color:var(--terracota);
    font-weight: bold;
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;

}

#courses li{
    display:none;
    justify-self: center;
}

#courses li.show{
    display: block;
}

#courses li.completed::after{
    content: ' \2714';
    color: green;
    font-weight: bold;
}



/*------------ FOOTER ----------------*/

footer {
    background-color: var(--warm-wheat);
    padding: 1rem 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

footer * {
    background-color: var(--warm-wheat);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--terracota)
}