@media only screen and (min-width: 38rem) {

    header, main, nav, footer{
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 50px auto auto;
    }
    .hamburger {
        display: none;
    }

    .navigation{
    display: block;

    }

    .navigation ul {
        display: flex;
        justify-content: left;
    }

    .navigation a {
        border: none;
    }

    .info {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }






}