@media only screen and (min-width: 38rem) {

    header, main, nav, footer{
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 50px auto auto;
    }
    .hamburger {
        display: none;
    }

    .navigation{
    display: block;

    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .buttons {
        display: block;
    }

    footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}






}