/* COLOR SCHEME 
terracotta #e07a5f
deepblue #3d405b
*/

:root{
    --terracota:#e07a5f;
    --deepblue: #3d405b;
    --left-margin: 10px;
}

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*HEADER*/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 2px var(--terracota);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;

}

header span {
    font-size: 1.2rem;
    color: var(--deepblue);
}

/*------------ HAMBURGER BUTTON ----------------*/

.hamburger {
    background: none;
    border: none;
    color: var(--deepblue);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/*------------ NAV ----------------*/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--deepblue);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover{
    color: var(--terracota);
    font-weight: bold;
}

/*------------ MAIN ----------------*/

h1 {
    margin-left: var(--left-margin);
}

.info section {
    padding: 0 1rem;
}

h2 {
    text-align: center;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: solid 1px var(--terracota);
    border-radius: 3px;
    background-color: #ddd;
    color: var(--deepblue);
    height: 44px;
    width: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;

}

#courses li{
    display:none;
    justify-self: center;
}

#courses li.show{
    display: block;
}

#courses li.completed::after{
    content: ' \2714';
    color: green;
    font-weight: bold;
}



/*------------ FOOTER ----------------*/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--terracota)
}